<p>header works!</p>
<nav>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.zWySXGYCzPri1sPkjEA_TgHaHa%26pid%3DApi&f=1&ipt=5af4f8ba8f128c002b48c952803e342e7225e86ede07acb0bcd30952a5399f4d&ipo=images"/>
<!-- <form #basicForm="ngForm" (submit)="getData(basicForm.value)">
    <input type="text" ngModel name="user" placeholder="Enter user name" />
    <br /> <br />
    <input type="text" ngModel name="email" placeholder="Enter user email" />
    <br /><br />
    <input type="text" ngModel name="password" placeholder="Enter user password" />
    <br /><br />
    <button>Register</button>
</form> -->
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Blog</a></li>
</ul>
</nav>
